<div class="col s12">
    <div class="label-cont">
        <label [for]="input.ID"> {{input.etiqueta}} </label>
        <Gdev-info-box *ngIf="input.info" [data]="input"></Gdev-info-box>
    </div>
    <p *ngFor="let opcion of input.opciones">
        <input class="with-gap" [name]="input.ID" [value]="setValue()" type="radio" [id]="opcion.index" (click)="getValue.emit({
            key:this.input.ID, 
            value:opcion.value})" />
        <label [for]="opcion.index">{{opcion.value}}</label>
    </p>
</div>