<div class="col s12 multiple">
    <div class="label-cont">
        <label [for]="input.ID"> {{input.etiqueta}} <span class="red-text"
                *ngIf="input.requerido">*</span> </label>
        <!-- <Gdev-info-box *ngIf="input.info" [data]="input"></Gdev-info-box> -->
    </div>
    <p *ngFor="let opcion of input.opciones">
        <input class="filled-in" [value]="setValue()" [name]="opcion.index" type="checkbox" [id]="opcion.index" (click)="toggleOpcion(opcion.value, $event)" />
        <label [for]="opcion.index">{{opcion.value}}</label>
    </p>
</div>
