<div class="col s12 input-field">
    <textarea type="text" class="materialize-textarea" [ngClass]="{ active: input.placeholder }" [id]="input.ID" [name]="input.ID" [value]="setValue()" [required]="input.requerido" placeholder="{{input.placeholder}}" (blur)="emitValue(input, $event)"></textarea>
    <!-- <Gdev-info-box *ngIf="input.info" [data]="input"></Gdev-info-box> -->
    <label [for]="input.ID" [ngClass]="{ active: input.placeholder || value }">{{ input.etiqueta }}
      <span class="red-text"
            *ngIf="input.requerido">*</span></label>
</div>
